* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: rgb(135, 168, 177);
}

nav .nav-center {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px -4px rgba(0, 0, 0, 0.2);
}

nav .nav-center .nav-header {
  display: flex;
  justify-content: left; /* Use this for mobile: justify-content: space-between;*/
  align-items: center;
  width: calc(100% / 3);
}

nav .nav-center .nav-header .nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-center .nav-header .nav-title .logo {
  width: 60px;
}

nav .nav-center .nav-header .nav-title .nav-logo-text {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  min-width: 352px;
}

nav .nav-center .nav-header .nav-title .nav-logo-text .aljanabi-span {
  color: rgb(18, 96, 133);
}

/* mobile toggle */

nav .nav-center .nav-header .nav-toggle {
  display: none;
}

/* links */

nav .nav-center .links {
  display: flex;
  justify-content: center;
  width: calc(100% / 3);
  list-style: none;
}

nav .nav-center .links li {
  margin-left: 20px;
  margin-right: 20px;
}

nav .nav-center .links li a {
  text-decoration: none;
  color: rgb(18, 96, 133);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

/* social icons */

nav .nav-center .social-icons {
  display: flex;
  justify-content: right;
  width: calc(100% / 3);
  list-style: none;
}

nav .nav-center .social-icons li {
  margin-left: 15px;
  margin-right: 15px;
}

nav .nav-center .social-icons li a {
  text-decoration: none;
  color: rgb(18, 96, 133);
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 1330px) {
  /* nav */

  nav .nav-center {
    display: block;
  }

  nav .nav-center .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  /* mobile toggle */
  nav .nav-center .nav-header .nav-toggle {
    display: initial;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: none;
    border: none;
  }
  nav .nav-center .nav-header .nav-toggle .bars-active {
    font-size: 3rem;
    color: rgb(18, 96, 133);
    transition: all 0.5s;
  }
  nav .nav-center .nav-header .nav-toggle .bars {
    font-size: 3rem;
    color: rgb(22, 133, 18);
    transition: all 0.5s;
    transform: rotate(-90deg);
  }

  /* links */

  nav .nav-center .links {
    display: block;
    width: 100%;
    list-style: none;
    height: 0;
    margin-top: 0;
    overflow: hidden;
    transition: all 1s;
  }

  /* Remember to chain it up properly with no spaces or it wont show */
  nav .nav-center .links.links-active {
    height: 276px;
    margin-top: 50px;
  }

  nav .nav-center .links li {
    padding: 20px 0;
  }

  nav .nav-center .links li a {
    text-decoration: none;
    color: rgb(18, 96, 133);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  /* social-icons */

  nav .nav-center .social-icons {
    display: none;
  }
}
